
cmake-build-release
._*
*.bmp
*.ttf
build/*
build2/*
.idea/workspace.xml
CMakeLists.txt.user
CMakeLists.txt.user.*
*.autosave
.idea/*.orig
*.orig
.idea/*.iml
config_editor/build
*.dir/*
x64/*
*.dir
cmake-build-debug/*
*.user
tbsg2.pro.user.*
.idea/*
.idea2/*

doc/*.aux
doc/*.log
doc/*.pdf
doc/*.gz
